body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

#interface {
    display: flex;
    flex-direction: column;
}

#display {
    background-color: rgb(207, 207, 207);
    height: 1em;
}

.row {
    display: flex;
    flex-direction: row;
}

.number, .operator, #equal, #clear {
    height: 32px;
    width: 40px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    background-color: greenyellow;
}

.operator, #equal, #clear {
    background-color: yellow;
}